<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
      const ROOM_ID = "<%= roomId %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <title>TalkToMe - Room</title>
  </head>
  <body>
    <div class="background">
      <div class="header">
        <h1 class='logo'><a href="/">TalkToMe</a></h1>
        <h3>Pokoj: <%= roomId %>
        </h3>
      </div>
      <div id="video-grid"></div>
      <div class="buttons">
        <button type="button">
        <a href="javascript:muteMicrophone()" id="muteBtn">Wycisz mikrofon</a>
        </button>
        <button type="button">
        <a href="javascript:stopVideo()" id="stopBtn">Wylacz kamerke</a>
        </button>
      </div>
      <section class="chatbox js-chatbox">
        <div class="chatbox__header">
          <h3 class="chatbox__header-cta-text"><span class="chatbox__header-cta-icon"><i
            class="fas fa-comments"></i></span>Chat na żywo</h3>
          <button class="js-chatbox-toggle chatbox__header-cta-btn u-btn"><i class="fas fa-chevron-up">Zamknij</i></button>
        </div>
        <div class="js-chatbox-display chatbox__display">
        </div>
        <form class="js-chatbox-form chatbox__form">
          <input type="text" class="js-chatbox-input chatbox__form-input" placeholder="Wpisz wiadmość..." required>
          <button class="chatbox__form-submit u-btn" style="background-color: white;">Wyślij</button>
        </form>
      </section>
    </div>
  </body>
</html>